@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("github.com") {
.line  { color: #000000 !important; }                               /* all purpose        */
.bp  { color: #000000 !important; }                                 /* STDERR in Perl     */
.c   { color: #000000 !important; font-style:  normal !important; } /* comment in CSS     */
.c1  { color: #000000 !important; font-style:  normal !important; } /* comment            */
.cm  { color: #000000 !important; font-style:  normal !important; } /* POD comment        */
.cp  { color: #000000 !important; font-weight: normal !important; } /* CSS                */
.err { color: #000000 !important; background: #FFFFFF !important; font-style:  normal !important; } /* error in POD       */
.k   { color: #000000 !important; font-weight: normal !important; } /* keyword            */
.kp  { color: #000000 !important; font-weight: normal !important; } /* Ruby               */
.m   { color: #000000 !important; }                                 /* CSS                */
.mf  { color: #000000 !important; }                                 /* CSS                */
.mh  { color: #000000 !important; }                                 /* hexadecimal number */
.mi  { color: #000000 !important; }                                 /* number             */
.mo  { color: #000000 !important; }                                 /* octal number       */
.n   { color: #000000 !important; font-style:  normal !important; } /* name               */
.na  { color: #000000 !important; }                                 /* parametres LATEX    */
.nb  { color: #000000 !important; }                                 /* function           */
.nc  { color: #000000 !important; font-weight: normal !important; } /* CSS                */
.nf  { color: #000000 !important; font-weight: normal !important; } /* name               */
.ni  { color: #000000 !important; }                                 /* HTML: unbreakable space */
.nn  { color: #000000 !important; }                                 /* name, second level      */
.no  { color: #000000 !important; }                                 /* Ruby                    */
.nt  { color: #000000 !important; }                                 /* CSS                 */
.nv  { color: #000000 !important; }                                 /* name of variable    */
.o   { color: #000000 !important; font-weight: normal !important; } /* operator            */
.ow  { color: #000000 !important; font-weight: normal !important; } /* operator            */
.p   { color: #000000 !important; }                                 /* punctuation         */
.s   { color: #000000 !important; }                                 /* string              */
.s1  { color: #000000 !important; }                                 /* Ruby                    */
.s2  { color: #000000 !important; }                                 /* CSS                     */
.sb  { color: #000000 !important; }                                 /* LATEX: math mode begin  */
.se  { color: #000000 !important; }                                 /* Ruby               */
.sr  { color: #000000 !important; }                                 /* string, regexp     */
.ss  { color: #000000 !important; }                                 /* Ruby               */
.sx  { color: #000000 !important; }                                 /* Ruby               */
.vg  { color: #000000 !important; }                                 /* Ruby               */
.vi  { color: #000000 !important; }                                 /* Ruby               */
 /* new codification */
.blob-code   { color: #000000 !important; }
.pl-c   { color: #000000 !important; }
.pl-c1  { color: #000000 !important; }
.pl-e   { color: #000000 !important; }
.pl-en  { color: #000000 !important; }
.pl-ent { color: #000000 !important; }
.pl-k   { color: #000000 !important; }
.pl-mp  { color: #000000 !important; }
.pl-pds { color: #000000 !important; }
.pl-s   { color: #000000 !important; }
.pl-s1  { color: #000000 !important; }
.pl-s3  { color: #000000 !important; }
.pl-sc  { color: #000000 !important; }
.pl-sr  { color: #000000 !important; }
.pl-st  { color: #000000 !important; }
.pl-vo  { color: #000000 !important; font-style: normal !important; font-weight: normal !important; }
}
